.loveless {
    background-color: #c2225f;
}

.navbar-burger {
    color: white;
}

.navbar .is-transparent {
    background-color: transparent;
    background-image: none;
}

.navbar-menu {
    background-color: #c2225f;
}

.navbar-menu .navbar-item:hover {
    background-color: #ca2a6d;
}

.hero {
    background: linear-gradient(-45deg, #ee7752, #b83a6a, #b9126e, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
